.header {
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
}

.header-title {
  font-size: 32px;
  margin: 0;
}

.search-bar-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-left: 2rem;
  margin-top: 5px;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #444;
  border: 1px solid #666;
  border-radius: 999px;
  padding: 0.5rem 1rem;
}

.search-icon {
  color: #ccc;
  margin-right: 0.5rem;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 16px;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #222;
  color: white;
  max-height: 300px;
  height: 300px;
  overflow-y: auto;
  margin: 0;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #444;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-results-list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  overflow-y: auto;
  max-height: 300px;
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

.search-results-list::-webkit-scrollbar {
  width: 6px;
}

.search-results-list::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

.search-results-list::-webkit-scrollbar-track {
  background: transparent;
}

.search-result-item {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}

.search-result-item:hover {
  background-color: #333;
}
