.side-nav {
  width: 240px;
  padding: 2rem;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  margin-bottom: 0.5rem;
}

.side-nav a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in-out;
}

.side-nav a:hover {
  color: gray;
}

.side-nav a.header-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

.side-nav a.link {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 400;
}

.side-nav a.active {
  color: white;
  font-weight: 800;
}

.side-nav .section-header {
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
  color: white;
}
